body, h1, h2, h3, h4, p, ul, ol, li {
	margin: 0;
	font-family: "Helvetica";
	color: black;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
	width: 100%;
}

* {
	box-sizing: border-box;
}

.btn {
	width: 250px;
	height: 150px;
	font-size: 40px;
}

input.-error {
	border-color: red;
}

